<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{cuentaBancaria.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{cuentaBancaria.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/cuentaBancarias}" class="btn btn-secondary">[[#{cuentaBancaria.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('cuentaBancaria')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='cuentaBancaria', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='cuentaBancaria', field='numerocuenta')}" />
                <div th:replace="~{fragments/forms::inputRow(object='cuentaBancaria', field='cliente')}" />
                <div th:replace="~{fragments/forms::inputRow(object='cuentaBancaria', field='saldo')}" />
                <div th:replace="~{fragments/forms::inputRow(object='cuentaBancaria', field='clienteId', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='cuentaBancaria', field='clienteId2', type='select')}" />
                <input type="submit" th:value="#{cuentaBancaria.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
