<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{loteProcesamiento.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{loteProcesamiento.list.headline}]]</h1>
                <div>
                    <a th:href="@{/loteProcesamientos/add}" class="btn btn-primary ms-2">[[#{loteProcesamiento.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${loteProcesamientoes.empty}">[[#{loteProcesamiento.list.empty}]]</div>
            <div th:if="${!loteProcesamientoes.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{loteProcesamiento.id.label}]]</th>
                            <th scope="col">[[#{loteProcesamiento.estado.label}]]</th>
                            <th scope="col">[[#{loteProcesamiento.cantidadtransacciones.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="loteProcesamiento : ${loteProcesamientoes}">
                            <td>[[${loteProcesamiento.id}]]</td>
                            <td>[[${loteProcesamiento.estado}]]</td>
                            <td>[[${loteProcesamiento.cantidadtransacciones}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/loteProcesamientos/edit/{id}(id=${loteProcesamiento.id})}" class="btn btn-sm btn-secondary">[[#{loteProcesamiento.list.edit}]]</a>
                                    <form th:action="@{/loteProcesamientos/delete/{id}(id=${loteProcesamiento.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{loteProcesamiento.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
