<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{transaccionBancaria.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{transaccionBancaria.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/transaccionBancarias}" class="btn btn-secondary">[[#{transaccionBancaria.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('transaccionBancaria')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='transaccionBancaria', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transaccionBancaria', field='detalles')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transaccionBancaria', field='estadoprocesamiento')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transaccionBancaria', field='cuentaBancariaId', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transaccionBancaria', field='loteProcesamientoId', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transaccionBancaria', field='cuentaBancariaId2', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transaccionBancaria', field='loteProcesamientoId3', type='select')}" />
                <input type="submit" th:value="#{transaccionBancaria.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
