<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{transaccionBancaria.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{transaccionBancaria.list.headline}]]</h1>
                <div>
                    <a th:href="@{/transaccionBancarias/add}" class="btn btn-primary ms-2">[[#{transaccionBancaria.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${transaccionBancarias.empty}">[[#{transaccionBancaria.list.empty}]]</div>
            <div th:if="${!transaccionBancarias.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{transaccionBancaria.id.label}]]</th>
                            <th scope="col">[[#{transaccionBancaria.detalles.label}]]</th>
                            <th scope="col">[[#{transaccionBancaria.estadoprocesamiento.label}]]</th>
                            <th scope="col">[[#{transaccionBancaria.cuentaBancariaId.label}]]</th>
                            <th scope="col">[[#{transaccionBancaria.loteProcesamientoId.label}]]</th>
                            <th scope="col">[[#{transaccionBancaria.cuentaBancariaId2.label}]]</th>
                            <th scope="col">[[#{transaccionBancaria.loteProcesamientoId3.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="transaccionBancaria : ${transaccionBancarias}">
                            <td>[[${transaccionBancaria.id}]]</td>
                            <td>[[${transaccionBancaria.detalles}]]</td>
                            <td>[[${transaccionBancaria.estadoprocesamiento}]]</td>
                            <td>[[${transaccionBancaria.cuentaBancariaId}]]</td>
                            <td>[[${transaccionBancaria.loteProcesamientoId}]]</td>
                            <td>[[${transaccionBancaria.cuentaBancariaId2}]]</td>
                            <td>[[${transaccionBancaria.loteProcesamientoId3}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/transaccionBancarias/edit/{id}(id=${transaccionBancaria.id})}" class="btn btn-sm btn-secondary">[[#{transaccionBancaria.list.edit}]]</a>
                                    <form th:action="@{/transaccionBancarias/delete/{id}(id=${transaccionBancaria.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{transaccionBancaria.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
